user www-data;
worker_processes auto;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
    worker_connections 768;
}

stream {
    upstream snmp_nodes {
        {% for host in groups['webservers'] %}
        server {{ hostvars[host]['ansible_default_ipv4']['address'] }}:161;
        {% endfor %}
    }

    server {
        listen 1611 udp;
        proxy_pass snmp_nodes;
        proxy_timeout 2s;
        proxy_responses 1;
        error_log /var/log/nginx/snmp_error.log;
        access_log /var/log/nginx/snmp_access.log;
    }
}